<form action='/api/session/register' method='POST'>
  <input name='firstName' type='text' placeholder='firstName' />
  <input name='lastName' type='text' placeholder='lastName' />
  <input name='age' type='text' placeholder='age' />
  <input name='email' type='text' placeholder='email' />
  <input name='password' type='text' placeholder='password' />
  <button type='submit'>register</button>
</form>
<a href='/login'>Ya estoy registrado!</a>